 @media screen and (min-width: 480px) {

    body {
        margin: 0;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    nav{
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #520303;
      color: white;
      font-family: 'Exo 2', sans-serif;
      padding: 1em;
    }
}

.top-bar {
  position: fixed;
  background-color: #be3144;
  text-align: right;
  right: 0;
  left: 0;
}

.top-bar a {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
}

.top-bar ul {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.top-bar ul li {
  display: inline-block;
  padding: 20px;
}

.top-bar ul li:hover {
  background-color:aquamarine;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 100%;
  height: 100vh;
}

#welcome-section h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin: 0;
}

#welcome-section p {
  color: #be3144;
  font-size: 20px;
}

#projects {
  background-color: #45567d;
  padding: 15px;
}

#projects h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.project-list .grid {
  width: 30%;
  background-color:#333;
  text-align: center;
  display: inline-block;
  margin: 0 15px 40px;
}

.project-list .grid a {
  text-decoration: none;
  color: #fff;
}

.project-list .grid p {
  margin: 0;
  padding: 15px 15px;
  font-size: 20px;
}

.project-list .grid img {
  width: 100%;
  height: 300px;
}

.project-list .next {
  width: 30%;
  background-color:#333;
  text-align: center;
  display: inline-block;
  margin: 0 15px; 
}

.project-list .next a {
  text-decoration: none;
  color: #fff;
}

.project-list .next p {
  margin: 0;
  padding: 15px 15px;
  font-size: 20px;
}

.project-list .next img {
  width: 100%;
  height: 300px;
}

.origin {
  display: flex;
  gap: 3px;
  margin-top: 20px;
  justify-content: center;
  justify-items: center;
  background-color:#333;
  width: 12%;
  margin: 20px auto 0;
}

.origin:hover {
  background-color: #be3144;
  gap: 6px;
}

.origin a {
  font-size: 15px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
}

.origin i {
  font-size: 15px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
}

#contacts {
  background-color: gray;
  padding: 15px;
  text-align: center;
  color: #fff;
}

#contacts a {
  color: #fff;
  text-decoration: none;
}

#contacts h1 {
  text-align: center;
  color: #fff;
  font-size: 45px;
  margin: 0;
}

#profile-link {
  margin-top: 50px;
  padding: 10px 15px;
  display: inline-block;
}

/* end */
